<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mappers.InvoiceMapper">

    <resultMap id="InvoiceResultMap" type="Invoice">
        <id column="id" property="id"/>
        <result column="no" property="no"/>
        <result column="date" property="date"/>
        <result column="salary" property="salary"/>
    </resultMap>

    <select id="getInvoiceById" resultMap="InvoiceResultMap">
        select * from invoice WHERE id=#{id}
    </select>
    <insert id="insertInvoice" parameterType="Invoice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO invoice(no,date,salary)
        VALUES(#{no},NOW(),#{salary})
    </insert>
</mapper>