<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- changes from the defaults -->
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Invoice" type="com.example.domain.Invoice"/>
        <typeAlias alias="Admin" type="com.example.domain.Admin"/>
        <typeAlias alias="Log" type="com.example.domain.Log"/>
    </typeAliases>
</configuration>